/* General */
body {
  font-family: "Poppins", sans-serif;
}

.section-padding {
  padding: 80px 0;
}

/* Navbar */
.custom-navbar {
  background: #0d0d0d;
}

.nav-link:hover {
  color: orangered;
  text-decoration: underline;
}

.btn-hire {
  background: #00d4ff;
  border-radius: 20px;
  color: black !important;
}

.btn-hire:hover {
  background: white;
}

/* Hero Section With Image + Gradient */
.hero {
  height: 100vh;
  background: url("hero.jpg") no-repeat center/cover;
  position: relative;
  background-size: cover;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );
}

.hero-content {
  position: relative;
  z-index: 10;
}

.highlight {
  color: #00d4ff;
}

.btn-custom {
  background: #00d4ff;
  color: #000;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-custom:hover {
  background: white;
  color: #000;
}

/* about Section Background */
.about-section {
  padding: 90px 0;
  background: linear-gradient(135deg, #e8f5e9 0%, #ffffff 100%);
}

/* Image Styling */
.about-img-wrapper {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.about-img-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.20);
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text Card */
.about-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 12px;
  border-left: 5px solid #198754;
  transition: 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}



/* Projects */
.project-card {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  background: #0d0d0d;
}

